<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Employee Self Service
      </nb-card-header>
      <nb-card-body>
        <h5 class="grid-h">Pay Slips</h5>
        <div class="row show-grid">
          <div class="col-md-1">
            <div>APR 2017</div>
          </div>
          <div class="col-md-1">
            <div>MAY 2017</div>
          </div>
          <div class="col-md-1">
            <div>JUN 2017</div>
          </div>
          <div class="col-md-1">
            <div>JUL 2017</div>
          </div>
          <div class="col-md-1">
            <div>AUG 2017</div>
          </div>
          <div class="col-md-1">
            <div>SEP 2017</div>
          </div>
          <div class="col-md-1">
            <div>OCT 2017</div>
          </div>
          <div class="col-md-1">
            <div>NOV 2017</div>
          </div>
          <div class="col-md-1">
            <div>DEC 2017</div>
          </div>
          <div class="col-md-1">
            <div>JAN 2018</div>
          </div>
          <div class="col-md-1">
            <div>FEB 2018</div>
          </div>
          <div class="col-md-1">
            <div>MAR 2018</div>
          </div>
        </div>

        <h5 class="grid-h">PaySlip APRIL 2017</h5>
        <h6 class="grid-h">Colruyt India IT Consultancy Private Limited</h6>

        <div class="table-responsive">
          <table class="table table-bordered table-striped">

            <tbody>
            <tr>
              <th class="text-nowrap" scope="row">Employee Code</th>
              <td>1111</td>
              <th class="text-nowrap" scope="row">Date of Join</th>
              <td colspan="4">10 December 2015</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Name</th>
              <td>Dheeraj Reddy</td>
              <th class="text-nowrap" scope="row">PAN</th>
              <td colspan="5">ASDFASDF</td>

            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Designation</th>
              <td>Developer</td>
              <th class="text-nowrap" scope="row">PF Account No</th>
              <td colspan="5">23234234234234</td>

            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Department</th>
              <td>Pers Java</td>
              <th class="text-nowrap" scope="row">Bank, Account No</th>
              <td colspan="5">AXIS Bank, 654654654654654</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Paid Days</th>
              <td>22</td>
              <th class="text-nowrap" scope="row">UAN</th>
              <td colspan="5">123123123123123</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <th>Earnings</th>
            <th>Amount</th>
            <th>Deductions</th>
            <th colspan="5">Amount</th>
            </thead>

            <tbody>
            <tr>
              <th class="text-nowrap" scope="row">Basic</th>
              <td>10000</td>
              <th class="text-nowrap" scope="row">Provident Fund</th>
              <td colspan="5">2000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">House Rent Allowance</th>
              <td>25000</td>
              <th class="text-nowrap" scope="row">Professional Tax</th>
              <td colspan="5">250</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Conveyance</th>
              <td>5000</td>
              <th class="text-nowrap" scope="row">TDS</th>
              <td colspan="5">2000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Medical Allowance</th>
              <td>5000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Special Allowance</th>
              <td>5000</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Shift Allowance</th>
              <td>5000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Leave Travel Allowance</th>
              <td>5000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Telephone Allowance</th>
              <td>5000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Books And Periodicals</th>
              <td>5000</td>
            </tr>

            <tr>
              <th class="text-nowrap" scope="row">Monthly Bonus</th>
              <td>5000</td>

            </tr>

            </tbody>
            <tfoot>
              <th>Gross Earnings</th>
              <th>55000</th>
              <th>Deductions</th>
              <th>10000</th>
            </tfoot>
          </table>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">

              <tbody>
              <tr>
                <th class="text-nowrap" scope="row">Net Payable</th>
                <td>50000</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
