<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card class="nb-icons">
      <nb-card-header>
        Medical Insurance
      </nb-card-header>
      <nb-card-body>

      </nb-card-body>

    </nb-card>

    <nb-card>
      <nb-card-header>
        My CV
      </nb-card-header>
      <nb-card-body>

      </nb-card-body>

    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header>
        Claims
      </nb-card-header>
      <nb-card-body>

      </nb-card-body>

    </nb-card>
  </div>
</div>
