<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="CISR">
          <p>Colruyt India social responsibility activities</p>
        </nb-tab>

      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="Employee Engagement">
          <p>Employee Engagement Activities</p>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="Khelruyt">
          <p>Khelruyt Activities</p>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="EHS">
          <p>Employee health safety</p>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>


</div>
