<nb-card>
  <nb-card-header>
    Training Notifications
  </nb-card-header>
  <nb-card-body>

    <h6 class="grid-h">Upcoming Trainings</h6>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <th>Training</th>
        <th>Trainer</th>
        <th>Training Category</th>
        <th>Training Location / Room</th>
        <th>Training On</th>
        <th>Duration</th>
        </thead>

        <tbody>
        <tr>
          <td class="text-nowrap" scope="row">Angular</td>
          <td>External / Siva Prasad</td>
          <td>Technical</td>
          <td class="text-nowrap" scope="row">HYDE.2.2063</td>
          <td>15 Mar 2018</td>
          <td>5 Days</td>
        </tr>

        </tbody>
      </table>
    </div>

    <h6 class="grid-h">Trainings Completed</h6>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <th>Training</th>
        <th>Trainer</th>
        <th>Training Category</th>
        <th>Training Location / Room</th>
        <th>Training On</th>
        <th>Duration</th>
        </thead>

        <tbody>
        <tr>
          <td class="text-nowrap" scope="row">Anotomy</td>
          <td>Arvind</td>
          <td>Non Technical</td>
          <td class="text-nowrap" scope="row">HYDE.2.2063</td>
          <td>10 Feb 2018</td>
          <td>1 Day</td>
        </tr>

        <tr>
          <td class="text-nowrap" scope="row">Newstack</td>
          <td>Khaja</td>
          <td>Technical</td>
          <td class="text-nowrap" scope="row">HYDE.2.2063</td>
          <td>14 Dec 2017</td>
          <td>3 Day</td>
        </tr>

        <tr>
          <td class="text-nowrap" scope="row">WebServices</td>
          <td>Khaja</td>
          <td>Technical</td>
          <td class="text-nowrap" scope="row">HYDE.2.2063</td>
          <td>10 Mar 2017</td>
          <td>1 Day</td>
        </tr>

        </tbody>
      </table>
    </div>

  </nb-card-body>

</nb-card>
