
<nb-card>
  <nb-card-header>
    My Goal Sheet
  </nb-card-header>

  <nb-card-body>
    <form class="form-inline">
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>


    <ng2-smart-table [settings]="mgrSettings" [source]="mgrSource" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
      <button type="submit" class="btn btn-primary" style="align-self: right">Submit</button>
    </form>
  </nb-card-body>



</nb-card>

