<div class="row">
  <div class="col-xxxl-8">
    <div class="row">
      <div class="col-md-6 col-xxl-7">
        <nb-card size="medium">
          <nb-card-header>
            Health & Fitness
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-main">
              <div class="header">
                <div class="name bold">Badminton</div>
                <div class="variants">
                  <span class="font-w-light">Medium</span>
                </div>
              </div>

            </div>

            <div class="font-row font-main">
              <div class="header">
                <div class="name bold">Cycling</div>

                <div class="variants">
                  <span class="font-w-light">10000 Kms</span>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>


      </div>
      <div class="col-md-6 col-xxl-5">
        <nb-card size="medium" class="headings-card">
          <nb-card-header>
            BMI
          </nb-card-header>
          <nb-card-body>
            <div class="header">
              <div>
                <h5>MAR 2018</h5>
              </div>

              <div class="detail font-w-light">
                26.5
              </div>
            </div>
            <div class="header">
              <div>
                <h5>FEB 2018</h5>
              </div>

              <div class="detail font-w-light">
                27
              </div>
            </div>
            <div class="header">
              <div>
                <h5>JAN 2018</h5>
              </div>

              <div class="detail font-w-light">
                26.3
              </div>
            </div>
            <div class="header">
              <div>
                <h5>DEC 2017</h5>
              </div>

              <div class="detail font-w-light">
                26
              </div>
            </div>
            <div class="header">
              <div>
                <h5>NOV 2017</h5>
              </div>

              <div class="detail font-w-light">
                26.5
              </div>
            </div>
            <div class="header">
              <div>
                <h5>OCT 2017</h5>
              </div>

              <div class="detail font-w-light">
                26
              </div>
            </div>
          </nb-card-body>
        </nb-card>


      </div>
    </div>
  </div>

  <div class="col-md-6 col-xxxl-4">

  </div>

  <div class="col-md-6 col-xxxl-4">

  </div>

  <div class="col-md-6 col-xxxl-4">

  </div>

  <div class="col-md-6 col-xxxl-4">

  </div>
</div>
